[submodule "submodules/reps"]
	path = submodules/reps
	url = git@github.com:KmoM88/reps.git
	branch = feature/rep-2015-binary-name-transformation
[submodule "submodules/kmom88-rosdistro"]
	path = submodules/kmom88-rosdistro
	url = git@github.com:KmoM88/rosdistro.git
[submodule "submodules/kmom88-rosinstall_generator"]
	path = submodules/kmom88-rosinstall_generator
	url = git@github.com:KmoM88/rosinstall_generator.git
[submodule "submodules/kmom88-ros_buildfarm"]
	path = submodules/kmom88-ros_buildfarm
	url = git@github.com:KmoM88/ros_buildfarm.git
[submodule "submodules/kmom88-rosdep"]
	path = submodules/kmom88-rosdep
	url = git@github.com:KmoM88/rosdep.git
[submodule "submodules/kmom88-bloom"]
	path = submodules/kmom88-bloom
	url = git@github.com:KmoM88/bloom.git
[submodule "submodules/kmom88-superflore"]
	path = submodules/kmom88-superflore
	url = git@github.com:KmoM88/superflore.git
[submodule "submodules/gazebodistro"]
	path = submodules/gazebodistro
	url = https://github.com/gazebo-tooling/gazebodistro.git
	branch = jrivero/jetty-rosdistro
[submodule "submodules/ros-rosdistro"]
	path = submodules/ros-rosdistro
	url = https://github.com/KmoM88/ros-rosdistro.git
	branch = feature/rep-2015-jetty-extension
[submodule "submodules/test-rosdistro-rep2015"]
	path = submodules/test-rosdistro-rep2015
	url = https://github.com/KmoM88/test-rosdistro-rep2015.git
